.jumbotron {
    text-align: center;
    background: none;

}

.sectionLight {
    background-color: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.wrapperbtn {

    line-height: 20px;
    display: block;
    margin: auto;
}

button.btn-lg.coolstuffbtn {
    background-color: red;
    color: #fff;
    display: block;
    margin: auto;

}
.socialWrapper{
    display: block;
    margin: auto;
}
.fa{
    margin: 10px;

}
.fa-instagram{
    color: #fff;
}
.fa-google-plus-square{
    color:#c32f10;
}
.fa-facebook-square {
    color:#3b5998;
}
.footerimg{
    padding: 15px;
}

h5.modal-title {
    margin-left: auto;

}

.ModelFormWrapper {
    padding: 2rem;
}

.container-fluid {
    padding: 0;
}

.imgcenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 79%;
}
